* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.vertical {
    border-left: 1px solid rgb(252, 252, 252);
    height: 250px;
    position: absolute;
    left: 9.25%;
    margin-top: -46%;
}

.verticalB {
    border-left: 1px solid rgb(252, 252, 252);
    height: 250px;
    position: absolute;
    left: 9.25%;
    margin-top: -21%;
}

.verticalC {
    border-left: 5px solid #ffa588;
    height: 400px;
    position: absolute;
    left: 55%;
    margin-top: 6%;
}


/* baki he */

::selection {
    background-color: #88ffff;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #292b2e;
}

::-webkit-scrollbar-thumb {
    background-color: #ffa588;
}


/* ya tak */

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: 0.3s linear;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: -40px;
    transition: 0.2s linear;
}

.navbar .logo:hover {
    color: #edff88 !important;
}

.navbar-menu a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.2s linear;
}

.hm {
    display: inline-block;
    position: relative;
    color: #fcfcfc;
}

.hm:after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    margin-left: -60.3%;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hm:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.grd {
    display: inline-block;
    position: relative;
    color: #fcfcfc;
}

.grd:after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    margin-left: -74%;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.grd:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.ab {
    display: inline-block;
    position: relative;
    color: #fcfcfc;
}

.ab:after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    margin-left: -60.3%;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.ab:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sr {
    display: inline-block;
    position: relative;
    color: #fcfcfc;
}

.sr:after {
    content: '';
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    margin-left: -68%;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.sr:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.ct {
    display: inline-block;
    position: relative;
    color: #fcfcfc;
}

.ct:after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    margin-left: -60.3%;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.ct:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sticky {
    background-color: #ffa588;
    padding: 18px 0;
}

.navbar-menu a:hover {
    color: #edff88 !important;
}

.sticky .navbar-menu a {
    color: #111;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: 0.3s linear;
}

#home {
    height: 100vh;
    min-height: 500px;
    background: #202124 no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#home .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

.heroComp {
    float: left;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 150px;
    flex-direction: column;
}

.head-title {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    margin-left: 150px;
}

.head-subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: #ffa588;
    font-weight: 600;
    margin-left: 150px;
}

.head-about {
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.664);
    font-size: 20px;
    font-weight: 400;
    margin-left: 150px;
}

.inst {
    float: left;
    width: 1.4%;
    height: auto;
    position: relative;
    margin-top: -440px;
    margin-left: 130px;
}

.link {
    float: left;
    width: 1.4%;
    height: auto;
    margin-top: -400px;
    margin-left: 130px;
    border-radius: 20%;
}

.web {
    float: left;
    width: 1.4%;
    height: auto;
    margin-top: -360px;
    margin-left: 130px;
    border-radius: 20%;
}

.insta {
    float: left;
    width: 1.4%;
    height: 1.4%;
    margin-top: -440px;
    margin-left: 130px;
}

.linke {
    float: left;
    width: 1.4%;
    height: 1.4%;
    margin-top: -400px;
    margin-left: 130px;
    border-radius: 20%;
}

.webo {
    float: left;
    width: 1.4%;
    height: 1.4%;
    margin-top: -360px;
    margin-left: 130px;
    border-radius: 20%;
}

.hackerImage {
    float: right;
    width: 39%;
    height: 39%;
    margin-left: 80px;
}

#home .buttons {
    text-align: center;
    margin-left: 80px;
}

#home .buttons a {
    color: #ffa588;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 2px;
    width: 220px;
    border: 1px solid #ffa588;
    padding: 15px 0;
    border-radius: 10px;
    transition: 0.2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(1) {
    box-shadow: inset 0 0 0 50px #ffa588;
    color: black;
}

.test {
    background: #174C57;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-title {
    font-size: 56px;
    font-weight: 600;
    color: #ffa588;
    margin-left: 70px;
}

.pin {
    float: left;
    width: 7%;
    height: 11%;
    margin-top: 60px;
    border-radius: 20%;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-image {
    height: 600px;
    margin-left: -5%;
}

.about-text {
    font-size: 19px;
    font-family: poppins;
    color: white;
    margin-top: 70px;
    text-align: justify;
}

.about-pic {
    width: 180px;
    border-radius: 50%;
    margin-right: 100px;
}

.icons {
    display: flex;
}

.sm {
    margin-top: 15px;
    padding-right: 50px;
    height: 30px;
    transition: 0.2s linear;
}

.sm :hover {
    color: #48dbfb;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: auto;
}

.titleSection::after {
    width: 450px;
    content: "";
    position: absolute;
    height: 4px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #ffa588;
    border-radius: 3px;
    left: calc(50% - 190px);
}

.proSection::after {
    width: 200px;
    content: "";
    position: absolute;
    height: 4px;
    margin-top: 70px;
    margin-bottom: 80px;
    background-color: #ffa588;
    border-radius: 3px;
    left: calc(50% - 60px);
}

.squl::after {
    width: 300px;
    content: "";
    position: absolute;
    height: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #ffa588;
    border-radius: 3px;
    left: calc(50% - 110px);
}

.cre {
    background: #202124;
    padding-top: 100px;
    padding-bottom: 100px;
}

.service:hover {
    transform: scale(1.2);
}

.service {
    text-align: center;
    height: 300px;
    min-width: 300px;
    border: 2px solid #ffa588;
    border-radius: 9px;
    margin: 40px 40px;
    padding: 40px 20px;
    color: #fff;
    transition: 0.3s linear;
}

.service img {
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
}

.service h4 {
    color: #ffa588;
    font-weight: 600;
    size: 32px;
}

.cct {
    background: #2C102F;
    padding-top: 50px;
    padding-bottom: 100px;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}

.contact-form input,
.contact-form textarea {
    width: 500px;
    height: 50px;
    margin: 10px 0;
    background: none;
    border: 3px solid #ffa588;
    outline: none;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
}

.ctct-form input,
.ctct-form textarea {
    width: 500px;
    height: 200px;
    margin: 10px 0;
    background: none;
    border: 3px solid #ffa588;
    outline: none;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
}

.message {
    height: 300px;
    resize: vertical;
    scroll-behavior: smooth;
}

.contact-form .btn {
    width: 250px;
    border: 2px solid #ffa588;
    padding: 5px;
    margin-top: -80px;
    margin-left: auto;
    cursor: pointer;
    background-color: #ffa588;
    border-radius: 8px;
    color: #202124;
    font-size: 20px;
    transition: 0.2s linear;
}

.contact-info::before {
    width: 2px;
    content: "";
    position: absolute;
    height: 250px;
    margin-top: 20px;
    border-radius: 3px;
    left: calc(67% - 200px);
}

.contact-info .item {
    font-family: "Poppins";
    font-size: larger;
    letter-spacing: 2px;
    border-radius: 50px;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    transition: 0.3s linear;
}

.contact-head {
    padding-bottom: 10px;
    color: #ffa588;
}

.contact-icon img {
    width: 25px;
    height: 25px;
}

figure {
    width: 32%;
    float: left;
    margin: 0;
}

.box {
    position: relative;
    height: 300px;
    width: 400px;
    margin: 40% auto 0;
    color: #fff;
    /*box-shadow: 5px 5px 15px rgba(0,0,0,0.6);*/
}

.box img {
    position: absolute;
    left: 0;
    width: 400px;
    height: 300px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.box img.img-front:hover {
    opacity: 0;
    cursor: pointer;
}

.nova a {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-left: 50px;
    transition: 0.2s linear;
}

.nova a:hover {
    color: #edff88 !important;
}

.sticky .nova a {
    color: #111;
}

.rev1 {
    background: #202124;
    padding-top: 100px;
    padding-bottom: 100px;
}

.pro {
    background: #405772;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grap {
    background: #F9EBDA;
    padding-top: 10px;
    padding-bottom: 600px;
}

.client-title {
    font-size: 40px;
    font-weight: 600;
    color: #ffa588;
    margin-left: 70px;
}

.container {
    display: flex;
    overflow-x: auto;
}

.container img {
    margin-right: 5px;
}

.container::-webkit-scrollbar {
    display: none;
}

.zeta {
    display: flex;
    overflow-x: auto;
}

.zeta {
    margin-right: 0px;
}

.zeta::-webkit-scrollbar {
    display: none;
}

footer {
    background: #292b2e;
    color: #fff;
    padding: 10px 0;
}

.tim {
    font-family: "Poppins";
    font-size: small;
    letter-spacing: 2px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.3s linear;
}

.im {
    font-family: "Poppins";
    font-size: larger;
    letter-spacing: 2px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.3s linear;
}

.lm {
    margin-top: 15px;
    margin-left: 20px;
    padding-right: 20px;
    height: 20px;
    transition: 0.2s linear;
}

.newz {
    font-family: "Poppins";
    font-size: larger;
    letter-spacing: 2px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: -5%;
    margin-left: 72%;
    transition: 0.3s linear;
}

.news {
    display: flex;
    flex-wrap: wrap;
    margin-left: 72%;
    margin-top: 1%;
    flex-direction: column;
    justify-content: space-between;
}

.news input,
.news textarea {
    width: 350px;
    height: 45px;
    margin-top: -4%;
    background: none;
    border: 3px solid #ffffff;
    outline: none;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
}

.goTop {
    position: fixed;
    z-index: 999;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 50px;
    background-color: #ffa588;
    color: #fff;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    outline: none;
    display: none;
}

@media screen and (max-width: 980px) {
    .menu-toggler {
        display: block;
    }
    .navbar-menu {
        position: fixed;
        height: 100vh;
        widows: 100%;
        background-color: #353b48;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: 0.3s linear;
    }
    .navbar-menu a {
        display: block;
        font-size: 30px;
        margin: 30px 0;
    }
    .sticky .navbar-menu {
        background-color: #ffa588;
    }
    .nu.active {
        right: 0;
    }
    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }
    .inner-width {
        max-width: 300px;
    }
    .heroComp {
        max-width: 800px;
        align-content: center;
    }
    .head-subtitle {
        font-size: 30px;
    }
    .section-title {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
    .about {
        flex-direction: column;
        font-size: x-small;
    }
    .about-image {
        max-height: 250px;
    }
    .about-text {
        flex: 100%;
        text-align: justify;
    }
    .services {
        width: 100%;
    }
    .service {
        width: calc(85% - 20px);
        align-items: center;
    }
    .serviceMid {
        width: calc(80% - 10px);
        align-items: center;
    }
    .contact-form .item {
        width: 100%;
        margin: 10px 0;
    }
    .item {
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }
    .content {
        width: calc(50% - 20px);
        font-size: smaller;
    }
    .content img {
        margin-top: 0;
        visibility: hidden;
    }
}